@use '../../../sass/index' as v
    
.Categories
    margin: 40px 0
    display: flex
    justify-content: center
    row-gap: 10px
    column-gap: 10px
    width: 90%
    flex-wrap: wrap
    margini: inherit


    &__link
        text-decoration: none
        color: v.$color_secondary
        font-weight: 500
        background: v.$gradient
        padding: 5px 10px
        border-radius: 20px
    
    @media screen and (max-width: 920px )
        margin: 40px 20px
        

